body{
    background-color:rgb(178, 119, 195);
    color: white;
}
td{
    border-style: solid;
}
th{
    border-style: solid;
}

div.e{
    background-color: aqua;
}

span.r{
    background-color: rgb(244, 191, 0);
}
.firstdiv{
    background-color: blueviolet;
}
#seconddiv{
    background-color: rgb(0, 255, 4);
}